---
import { slugify } from "@/utils";
interface Props {
    references: string[];
}

const { references } = Astro.props;
---

<div
    class="no-underline"
>
    <hr>
    <h2>Referencias</h2>
        {
            references.map((reference) => (
                <p class="-indent-8 px-8">{reference}</p>
            ))
        }
</div>