---
// https://docs.astro.build/en/guides/markdown-content/#fetching-remote-markdown
import { marked } from 'marked';

interface Props {
    references: string[];
}

const { references } = Astro.props;
references.sort((a, b) => a.localeCompare(b));
---

<div class="no-underline" id="references">
    <h2>Referencias</h2> 
    {
        references.map((reference) => (
            <p class="-indent-8 px-8" set:html={marked.parse(reference)} />
        ))
    }
</div>